<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
        <title>My Site</title>
    </head>

    <body>
        <header>
            <% include  partials/header %>
        </header>

        <main class="container">
            <h1>My Website</h1>
            <p>About page</p>
        </main>

        <footer>
            <% include partials/footer %>
        </footer>
    </body>
    
</html>