<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
        <title><%= title %></title>
    </head>

    <body>
        <header>
            <% include  partials/header %>
        </header>

        <main class="container">
            <h1><%= pageTitle %></h1>
            <p>Index page</p>
            <p><%= cars.name %></p>
        </main>

        <footer>
            <% include partials/footer %>
        </footer>
    </body>

</html>